/* You can add global styles to this file, and also import other style files */
body {
  position: relative;
  margin: 0 !important;
  box-sizing: border-box;
}

.dragging {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

div,
button {
  position: absolute;
}

.selected {
  border: 1px dashed blue !important;
}
