.builder-menu {
  position: fixed;
  left: 50px;
  top: 100px;
  box-shadow: 0 5px 19px rgba(6, 21, 40, 0.3);
  border-radius: 8px;
  -webkit-user-select: none;
  background: #fff;
  z-index: 100000000;
  width: auto;
  .list-feature {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      padding: 5px 10px;

      &:hover {
        background-color: rgba(18, 18, 131, 0.438);
        cursor: pointer;
      }
    }
  }
}
