.builder-quick-editor {
  position: fixed;
  left: 20px;
  top: 15vh;
  box-shadow: 0 5px 19px rgba(6, 21, 40, 0.3);
  border-radius: 8px;
  -webkit-user-select: none;
  background: #fff;
  z-index: 100000000;
  width: auto;
  .list-feature {
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      padding: 5px 10px;
    }
  }
}
