<div
  id="builder-quick-editor"
  class="builder-quick-editor"
  style="top: 109px; left: 651.5px"
>
  <ul class="list-feature">
    <li>Sửa chữ</li>
    <li>Chữ đậm</li>
    <li>chữ nghiêng</li>
  </ul>
</div>
