<div coreDragDrop>
  <div
    style="
      width: 200px;
      height: 200px;
      background-color: pink;
      position: absolute;
    "
    ladi-draggable="true"
  >
    abc
  </div>
  <builder-quick-editor></builder-quick-editor>
  <builder-menu></builder-menu>
</div>
